
Orbital Cycles/.ipynb_checkpoints
Orbital Cycles/.DS_Store
.DS_Store
MD Confrontation/.ipynb_checkpoints/Model-data confrontation-checkpoint.ipynb
CrystalCorrelations/.ipynb_checkpoints/CrystalCorrelations-checkpoint.ipynb
